{% extends 'base.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="mt-5">VIII Iberoamerican Congress on Geometry 2020</h2>
        <h4 class="mt-4">Registration Form</h4>

        {{ form_start(form) }}


        <div class="row">
            <div class="col-12 col-lg-8">

                <div class="my-4">
                    {{ form_errors(form) }}
                </div>

                <div class="card">
                    <div class="card-header">
                        <strong>Personal Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.name, 'Name') }}
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.surname, 'Surname') }}
                                    {{ form_errors(form.surname) }}
                                    {{ form_widget(form.surname) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="form-group">
                                    {{ form_label(form.email, 'Email') }}
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.citizenship, 'Citizenship') }}
                                    {{ form_errors(form.citizenship) }}
                                    {{ form_widget(form.citizenship) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="form-group">
                                    {{ form_label(form.telephone, 'Telephone') }}
                                    {{ form_errors(form.telephone) }}
                                    {{ form_widget(form.telephone) }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.gender, 'Gender') }}
                                    {{ form_errors(form.gender) }}
                                    {{ form_widget(form.gender) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        <strong>Academic Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.affiliation, 'Affiliation') }}
                                    {{ form_errors(form.affiliation) }}
                                    {{ form_widget(form.affiliation) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.title, 'Position') }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <p class="lead my-4">
                    We have been awarded funding from the US National Science Foundation to support participants from the US.
                    Priority goes to speakers, junior participants, and underrepresented minorities.
                </p>
                <p>If you want to apply for this grant, please fill the following fields:</p>

                 <div class="card mt-4">
                    <div class="card-header">
                        <strong>NSF Grant</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                 <div class="form-group">
                                    {{ form_label(form.speaker, 'Are you a speaker in a Special Session?') }}
                                    {{ form_errors(form.speaker) }}
{#                                    {{ form_widget(form.advisor, {'attr': {'disabled': 'disabled'}}) }}#}
                                    {{ form_widget(form.speaker) }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.interest, 'Primary research area') }}
                                    {{ form_errors(form.interest) }}
                                    {{ form_widget(form.interest) }}
                                </div>
                            </div>
                        </div>
                        <p class="border-top pt-3">If you are <strong>student or postdoc</strong> we need your advisor's information contact.<br>
                            We will send an email to your advisor asking for a recommendation letter.</p>
                        <p></p>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.advisor, 'Advisor\'s name') }}
                                    {{ form_errors(form.advisor) }}
{#                                    {{ form_widget(form.advisor, {'attr': {'disabled': 'disabled'}}) }}#}
                                    {{ form_widget(form.advisor) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 mb-3">
                                <div class="form-group">
                                    {{ form_label(form.advisorEmail, 'Advisor\'s email') }}
                                    {{ form_errors(form.advisorEmail) }}
                                    {{ form_widget(form.advisorEmail) }}
                                </div>
                            </div>


                            <p class="mx-3 pt-4 border-top">Other information you would like to share?  For example, it would be helpful for us to know if you are a member of an underrepresented minority or gender.</p>

                            <div class="col-12">
                                <div class="form-group">
                                    {{ form_errors(form.other) }}
                                    {{ form_widget(form.other) }}
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-info my-4" value="Submit" />

            {{ form_end(form) }}
            </div>
        </div>
    </div>
{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('registry_index') }}">Back to the list</a>#}
{#        </li>#}
{#    </ul>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script>#}
{#        $('#appbundle_registry_title').on('change', function(){#}
{#            if ($(this).val() == 'Student') {#}
{#                $('#appbundle_registry_advisor').prop("disabled", false);#}
{#                // $('#appbundle_registry_advisor').attr("disabled", "enabled");#}
{#            }#}
{#            else {#}
{#                $('#appbundle_registry_advisor').prop("disabled", true);#}
{#                // $('#appbundle_registry_advisor').attr("disabled", "disabled");#}
{#            }#}
{#        });#}
{#    </script>#}
{% endblock %}