{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registry</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registry.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ registry.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ registry.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ registry.email }}</td>
            </tr>
            <tr>
                <th>Citizenship</th>
                <td>{{ registry.citizenship }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ registry.gender }}</td>
            </tr>
            <tr>
                <th>Affiliation</th>
                <td>{{ registry.affiliation }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ registry.telephone }}</td>
            </tr>
            <tr>
                <th>Interest</th>
                <td>{{ registry.interest }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ registry.title }}</td>
            </tr>
            <tr>
                <th>Advisor</th>
                <td>{{ registry.advisor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registry_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('registry_edit', { 'id': registry.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
